<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>
    <fieldset>
        <legend>Employee List</legend>
        <table border="1">
            <caption>Employee Information</caption>
            <thead>
                <th>EmpId</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Gender</th>
                <th>phone</th>
                <th>Designation</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% for(var i=0; i < list.length; i++){ %>
                    <tr>
                      <td><%= list[i].id %></td>
                      <td><%= list[i].username %></td>
                      <td><%= list[i].Password %></td>
                      <td><%= list[i].name %></td>
                      <td><%= list[i].gender %></td>
                      <td><%= list[i].phone %></td>
                      <td><%= list[i].designation %></td>
                      <td><a a href="/admin/Update/<%= list[i].username %>">UPDATE</a> </td>
                      <td><a a href="/admin/Delete/<%= list[i].username %>">DELETE</a></td>
                    </tr>
                <% } %>
            </tbody>
        </table><br>
        <a href="/logout">Logout</a>
    </fieldset>
</body>
</html>